<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Подробнее о пользователе</title>
</head>
<body>
<div class="header">
    <img class="centered-image" src="/css/icon.png" width="40" height="40"  />
    <a href="/">Главная</a>
    <a href="/patient-treatments/">Лечение пациента</a>
    <a href="/medical-records/">Медицинская карта</a>
    <a href="/prescriptions/">Рецепты</a>
    <a href="/patients/">Список пациентов</a>
    <a href="/treatments/">Лечение</a>
    <a href="/invoices/">Счета</a>
    <a href="/dentists/">Стоматологи</a>
    <a href="/appointments/">Записи на приём</a>
    <a href="/login" style="background-color: #ea30f6">Авторизация</a>
    <a href="/registration" style="background-color: #ea30f6">Регистрация</a>
</div>

<h1>Подробнее о пользователе</h1>
<table>

<tr>
    <th>Логин</th>
    <th>Роль</th>
</tr>
<tr th:object="${user_object}">
    <td th:text="${user_object.username}"></td>
    <td th:text="${user_object.roles}"></td>
</tr>
</table>
<a href="/" >Назад</a>

</body>
</html>
