<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Все лечения</title>
</head>
<body>
<div class="header">
  <img class="centered-image" src="/css/icon.png" width="40" height="40"  />
  <div class="menu-item">
    <a href="/">Главная</a>
    <div class="submenu">
      <a href="/admin/users">Роли</a>
    </div>
  </div>
  <a href="/patient-treatments/">Лечение пациента</a>
  <a href="/medical-records/">Медицинская карта</a>
  <a href="/prescriptions/">Рецепты</a>
  <a href="/patients/">Список пациентов</a>
  <a href="/treatments/">Лечение</a>
  <a href="/invoices/">Счета</a>
  <a href="/dentists/">Стоматологи</a>
  <a href="/appointments/">Записи на приём</a>
  <a href="/login" style="background-color: #ea30f6">Авторизация</a>
  <a href="/registration" style="background-color: #ea30f6">Регистрация</a>
</div>
<h1>Все лечения</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Название</th>
    <th>Описание</th>
    <th>Стоимость</th>
  </tr>
  <tr th:each="treatment : ${treatments}">
    <td th:text="${treatment.id}"></td>
    <td th:text="${treatment.name}"></td>
    <td th:text="${treatment.description}"></td>
    <td th:text="${treatment.cost}"></td>
    <td><a th:href="@{/treatments/{id}(id=${treatment.id})}">Подробнее</a></td>
    <td><a th:href="@{/treatments/{id}/edit(id=${treatment.id})}">Редактировать</a></td>
    <td><a th:href="@{/treatments/{id}/delete(id=${treatment.id})}">Удалить</a></td>
  </tr>
</table>

<a href="/treatments/create-treatment">Создать лечение</a>

</body>
</html>
