<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Список пациентов</title>
</head>
<body>
<div class="header">
    <img class="centered-image" src="/css/icon.png" width="40" height="40"  />
    <div class="menu-item">
        <a href="/">Главная</a>
        <div class="submenu">
            <a href="/admin/users">Роли</a>
        </div>
    </div>
    <a href="/patient-treatments/">Лечение пациента</a>
    <a href="/medical-records/">Медицинская карта</a>
    <a href="/prescriptions/">Рецепты</a>
    <a href="/patients/">Список пациентов</a>
    <a href="/treatments/">Лечение</a>
    <a href="/invoices/">Счета</a>
    <a href="/dentists/">Стоматологи</a>
    <a href="/appointments/">Записи на приём</a>
    <a href="/login" style="background-color: #ea30f6">Авторизация</a>
    <a href="/registration" style="background-color: #ea30f6">Регистрация</a>
</div>
<h1>Список пациентов</h1>

<table>
    <tr>
        <th>ID</th>
        <th>ФИО</th>
        <th>Телефон</th>
        <th>Рецепт</th>
    </tr>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.id}"></td>
        <td th:text="${patient.name}"></td>
        <td th:text="${patient.phoneNumber}"></td>

        <td th:text="${patient.prescription.application}"></td>
        <td><a th:href="@{/patients/{id}(id=${patient.id})}">Подробнее</a></td>
        <td><a th:href="@{/patients/{id}/edit(id=${patient.id})}">Редактировать</a></td>
        <td><a th:href="@{/patients/{id}/delete(id=${patient.id})}">Удалить</a></td>
    </tr>
</table>
<a href="/patients/create-patient">Создать пациента</a>
</body>
</html>
