<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Главная</title>
    <style>
        .centered-imag {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="header">
    <img class="centered-image" src="/css/icon.png" width="40" height="40"  />
    <div class="menu-item">
        <a href="/">Главная</a>
        <div class="submenu">
            <a href="/admin/users">Роли</a>
        </div>
    </div>
    <a href="/patient-treatments/">Лечение пациента</a>
    <a href="/medical-records/">Медицинская карта</a>
    <a href="/prescriptions/">Рецепты</a>
    <a href="/patients/">Список пациентов</a>
    <a href="/treatments/">Лечение</a>
    <a href="/invoices/">Счета</a>
    <a href="/dentists/">Стоматологи</a>
    <a href="/appointments/">Записи на приём</a>
    <a href="/login" style="background-color: #ea30f6">Авторизация</a>
    <a href="/registration" style="background-color: #ea30f6">Регистрация</a>
</div>

<h1 th:inline="text">Добро пожаловать, [[${#httpServletRequest.remoteUser}]] ❤ </h1>
<div class="centered-imag">
    <img src="/css/boris.png" alt="boris" width="300" height="502"  />
</div>
<a href="/admin/users" class="btn btn-primary" >Администратора панель</a>

</body>
</html>